{% extends '../base.html' %}
{% load static %}

{% block title %}
Category Page
{% endblock title %}

{% block content %}
<div class="container">
    <center>
        <h1>Create Quiz</h1>
    </center>
    <center>
        <h3>Select Category</h3>
        <script>
            console.log("in")
        </script>
    </center>
    <form class="categories" id="categories" method="POST" action="create-quiz/">
        {% csrf_token %}

    </form>
</div>
<style>
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        background-color: rgb(207, 207, 207);
        width: 300px;
    }

    .category:checked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        background-color: rgb(156, 95, 95);
        width: 400px;
    }

    .takeUsername {
        display: block;
        position: relative;
    }
</style>
<script type="text/javascript">
    var received_data = "{{data}}";
    console.log(received_data);
    let data = JSON.parse(received_data.replace(/&quot;/g, '"'));
    console.log(data);
    data.categories.forEach(element => {
        console.log(element.category)
        document.getElementById("categories").innerHTML += "<label class='category' for='" + element.id + "'>" + element.category + "<input type='radio' name='cat_id' value='" + element.id + "' id='" + element.id + "'></label>"
    })
    document.getElementById("categories").innerHTML += "<div class='takeusername'><label for='username'><h3>Enter Your </h3><input type='text' name='name' id='username'></label></div>"
    document.getElementById("categories").innerHTML += "<button class='submit' type='submit' id='submit'>Submit</button>"

    // document.getElementById("submit").addEventListener("click", function () {
    //     postCategories();
    // });

    async function postCategories() {
        let DATA = {
            'name': $("#username").val(),
            'cat_id': $('form input[type=radio]:checked').val()
        }
        await fetch(``, {
            method: "POST",
            head: { type: "json" },
            body: { data: DATA }
        }).then(() => console.log(DATA));
    }
</script>


{% endblock content %}

{% block connectjs %}
<!-- <script type="text/javascript" src="{% static 'js/Category.js' %}"></script> -->
{% endblock connectjs %}